		<h2>Контакты</h2>
		<p>Телефоны представительств:</p>
		<p>LegoCode юго-Западный филиал: +7-343-005-05-05</p>
		<p>LegoCode Академический филиал: +7-343-007-07-07</p>
		<p>LegoCode Центральный филиал: +7-343-009-09-09</p>
		<p>электронная почта: <a href="mailto:contacts@necessarymind.ru">contacts@necessarymind.ru</a></p>
		<p>&nbsp;</p>
		<form action="" method="post" name="feedback_form" id="feedback_form">
		  <p>Здесь вы можете поделиться своим мнением. задать вопросы. <br>
		    Оставьте данные 
	      элекронной почты и/или телефон, чтобы мы могли ответить вам.</p>
		  <p>
            <label for="email" class="title">Ваше имя</label>
            <input type="text" name="name" id="email">
          </p>
		  <p>
		    <label for="email" class="title">Адрес эл.почты для ответа</label>
		    <input type="text" name="email" id="email">
		  </p>
		  <p>
		    <label for="email" class="title">Телефон</label>
            <input type="text" name="phone" id="email">
          </p>
		  <p>
            <label for="feedback2" class="title">Текст сообщения</label>
            <textarea name="feedback" cols="50" rows="7" id="feedback"></textarea>
          </p>
		  <p>
            <div class="submit">
              <input name="send_feedback" type="submit" id="send_feedback" value="Отправить">
            </div>
		  </p>
		  <p>&nbsp;</p>
    </form>
		<p>&nbsp;</p>
		